@page
@model MaTewKan.Pages.MaTewCategoryAdmin.CreateModel

@{
    ViewData["Title"] = "สร้างวิชาติว";
}

<h2>สร้างหัวข้อวิชาที่ติว</h2>

<h4>กรอกข้อมูลดังต่อไปนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                ชื่ออาจารย์ผู้สอน 
                <input asp-for="MaTewCategory.Fullname" class="form-control" />
                <span asp-validation-for="MaTewCategory.Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                วิชาที่สอน
                <input asp-for="MaTewCategory.Subject" class="form-control" />
                <span asp-validation-for="MaTewCategory.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                สถานที่สอน
                <input asp-for="MaTewCategory.Location" class="form-control" />
                <span asp-validation-for="MaTewCategory.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                ราคา(บาท/ชม.)
                <input asp-for="MaTewCategory.Pricehour" class="form-control" />
                <span asp-validation-for="MaTewCategory.Pricehour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
