@page
@model MaTewKan.Pages.MaTewCategoryAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MaTewCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaTewCategory.Fullname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTewCategory.Fullname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaTewCategory.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTewCategory.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaTewCategory.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTewCategory.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaTewCategory.Pricehour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTewCategory.Pricehour)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MaTewCategory.MaTewCategoryID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
