@page
@model MaTewKan.Pages.MaTewCategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MaTewCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่ออาจารย์
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTewCategory.Fullname)
        </dd>
        <dt>
            วิชาที่สอน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTewCategory.Subject)
        </dd>
        <dt>
            สถานที่สอน
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTewCategory.Location)
        </dd>
        <dt>
            ราคา(บาท/ชม.)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTewCategory.Pricehour)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MaTewCategory.MaTewCategoryID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
