@page
@model MaTewKan.Pages.MaTewCategoryAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>MaTewCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaTewCategory.MaTewCategoryID" />
            <div class="form-group">
                <label asp-for="MaTewCategory.Fullname" class="control-label"></label>
                <input asp-for="MaTewCategory.Fullname" class="form-control" />
                <span asp-validation-for="MaTewCategory.Fullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaTewCategory.Subject" class="control-label"></label>
                <input asp-for="MaTewCategory.Subject" class="form-control" />
                <span asp-validation-for="MaTewCategory.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaTewCategory.Location" class="control-label"></label>
                <input asp-for="MaTewCategory.Location" class="form-control" />
                <span asp-validation-for="MaTewCategory.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaTewCategory.Pricehour" class="control-label"></label>
                <input asp-for="MaTewCategory.Pricehour" class="form-control" />
                <span asp-validation-for="MaTewCategory.Pricehour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
