@page
@model MaTewKan.Pages.MaTewCategoryAdmin.IndexModel

@{
    ViewData["Title"] = "ระบบประกาศวิชารับติว";
}

<h2>ระบบจัดการวิชาติว</h2>

<p>
    <a asp-page="Create">สร้างวิชาติว</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ชื่ออาจารย์
            </th>
            <th>
                วิชาที่สอน
            </th>
            <th>
                สถานที่สอน
            </th>
            <th>
                ราคา(บาท/ชม.)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MaTewCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pricehour)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MaTewCategoryID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MaTewCategoryID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MaTewCategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
