﻿@page
@using Microsoft.AspNetCore.Identity
@using MaTewKan.Models

@model MaTewKan.Pages.MaTewAdmin.CreateModel
@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager

        @{
            ViewData["Title"] = "วิชาที่ติว";
        }

        <h2>วิชาที่ติว</h2>

        <h4>กรอกข้อมูลดังนี้</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        เลือกชื่ออาจารย์
                        <select asp-for="MaTew.MaTewCategoryID" class="form-control" asp-items="ViewBag.MaTewCategoryID"></select>
                    </div>
                    <div class="form-group">
                        วันที่เริ่มติว
                        <input asp-for="MaTew.Date" class="form-control" />
                        <span asp-validation-for="MaTew.Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        รายละเอียดในการติว
                        <textarea asp-for="MaTew.Detail" class="form-control" rows=5 cols=5>
                </textarea>
                        <span asp-validation-for="MaTew.Detail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        สถานะตอนนี้
                        <select asp-for="MaTew.Status" class="form-control">
                            <option value="Online">ออนไลน์</option>
                            <option value="Offline">ออฟไลน์</option>
                        </select>
                        <span asp-validation-for="MaTew.Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-page="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> - Teste_db</title>


        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/site.css" />

