@page
@model MaTewKan.Pages.MaTewAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MaTew</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaTew.MatewCat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTew.MatewCat.MaTewCategoryID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaTew.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTew.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaTew.Detail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTew.Detail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaTew.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTew.Status)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MaTew.MaTewID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
