@page
@model MaTewKan.Pages.MaTewAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MaTew</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
          รหัสอาจารย์
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTew.MatewCat.MaTewCategoryID)
        </dd>
        <dt>
           วันเริ่มติว
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTew.Date)
        </dd>
        <dt>
            รายละเอียด
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTew.Detail)
        </dd>
        <dt>
            สถานะตอนนี้
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaTew.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MaTew.MaTewID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
