@page
@model MaTewKan.Pages.MaTewAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>วิชาที่เปิดการติว</h2>

<p>
    <a asp-page="Create">สร้างวิชาติว</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               ชื่ออาจารย์
            </th>
            <th>
                วันเริ่มติว
            </th>
            <th>
                รายละเอียดการสอน
            </th>
            <th>
                สถานะตอนนี้
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MaTew) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatewCat.MaTewCategoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MaTewID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MaTewID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MaTewID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
