﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <center><img src="~/1122.jpg" width=700 height=550></center>
<div class="jumbtron">
    <center><h2>ติวเตอร์นักศึกษา</h2></center>
</div>

<div class="row">
    <h3>ติวเตอร์</h3>
    <table class="table">
        <thead>
            <tr>
                <th>ชื่อผู้สอน</th>
                <th>วิชา</th>
                <th>รายละเอียดการสอน</th>
                <th>สถานะตอนนี้</th>
            </tr>
        </thead>
    </table>
</div> 

